<div class="jumbotron bg-dark text-white">
  <div class="container-lg">
    <h3>Lista de Números</h3>

    <table class="table table-dark align-middle mt-3">
      <tr>
        <th>Não feito</th>
        <th>Feito</th>
        <th>Revisita</th>
        <th>Fora de ária</th>
        <th>Não ligar novamente</th>
      </tr>
      <tr>
        <td>
          <div class="status3"></div>
        </td>
        <td>
          <div class="status5"></div>
        </td>
        <td>
          <div class="status2"></div>
        </td>
        <td>
          <div class="status4"></div>
        </td>
        <td>
          <div class="status1"></div>
        </td>
      </tr>
    </table>
  </div>
</div>